{% extends "base.html" %}
{% load static %}

{% block title %}
   <title>iChat - Профиль</title>
{% endblock title %}

{% block content %}
   {% if request.user.is_authenticated %}
       <img src="{{ request.user.image }}">
       <h1>{{ request.user.username }}</h1>
       <a href="{% url "profile:logout" %}">Logout</a>
   {% else %}
       <img src="{% static "assets/img/unknown-user.jpg" %}">
       <h1>Guest</h1>
       <a href="{% url "profile:login" %}">Login</a>
   {% endif %}
   <a href="{% url "main_page" %}">Home<a>

{% endblock content %}
