{% extends "base.html" %}
{% load static %}

{% block style %}
  <link href="{% static "assets/css/register_page.css" %}">
{% endblock style %}

{% block title %}
  <title>iChat - Регистрация</title>
{% endblock title %}

{% block content %}
<div class="container">
  <form action="{% url "profile:register" %}" method="POST">
    {% csrf_token %}
    <h1>Register</h1>
    {{ form.as_p }}
    {% comment %} <label for="name">Username:</label>
    <input type="text" id="name" name="name" placeholder="Enter the username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter the password" required> {% endcomment %}

    <input type="submit" value="Register">

    <p>Already signed up?</p>
    <a href="{% url "profile:login" %}">Sign in</a>
    <a href="{% url "main_page" %}">Home</a>
    <a href="{% url "profile:profile" %}">Profile</a>
  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock content %}